.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #101069;

  --primary-color: #033ce6;
  --secondary-color: #0449e0;
  --inverted-primary-color: #00d400;
  --inverted-secondary-color: #04ff04;
}
